@import helper._
@import scala.concurrent.ExecutionContext

@(project: Project, csrf: String, errorMessage: String)

@main("Project Detail | Daily Report") {
<p>@project.id</p>
<p>@project.name</p>
<p>@project.content</p>
<a href="/projects/@project.id/edit">edit</a><br>
<a href="/projects/@project.id/user">user list</a><br>
@for(user <- project.users){
<tr>
    <td>@user.id</td>
    <td>@user.user.name</td>
</tr>
}
@form(action = routes.ProjectController.delete()) {
<input type="hidden" name="csrfToken" value="@csrf"/>
<input type="hidden" name="id" value="@project.id"/>
<p>@errorMessage</p>
<input type="submit" value="delete">
}
}
