@import helper._
@import scala.concurrent.ExecutionContext

@(project: Project, csrf: String, errorMessage: String)

@main("Project Edit | Daily Report") {
<h1>Project update</h1>

@form(action = routes.ProjectController.update()) {
<input type="hidden" name="csrfToken" value="@csrf"/>
<input type="hidden" name="id" value="@project.id"/>
<p>@errorMessage</p>
<input name="name" type="text" value="@project.name"><br>
<textarea name="content">@project.content</textarea><br>
<input type="submit" value="Submit">
}
}