@import helper._
@import scala.concurrent.ExecutionContext

@(report: Report, csrf: String, errorMessage: String)

@main("Report Create | Daily Report") {
<h1>Report Review</h1>
<p>@report.id</p>
<p>@report.content</p>
<p>@report.workAt</p>
@form(action = routes.ReportController.reviewPost()) {
<input type="hidden" name="reportId" value="@report.id"/>
<input type="hidden" name="csrfToken" value="@csrf"/>
<p>@errorMessage</p>
<textarea name="comment"></textarea><br>
<input id="approve" name="action" type="radio" value="0" checked><label for="approve">承認</label>
<input id="reject" name="action" type="radio" value="1"><label for="reject">否認</label>
<br>
<input type="submit" value="Submit">
}
}
