@import helper._
@import scala.concurrent.ExecutionContext

@(user: User, csrf: String, errorMessage: String)

@main("User Edit | Daily user") {
<h1>user update</h1>

@form(action = routes.UserController.update()) {
<input type="hidden" name="csrfToken" value="@csrf"/>
<input type="hidden" name="id" value="@user.id"/>
<p>@errorMessage</p>
<input name="name" type="text" value="@user.name"><br>
<select name="role">
    <option value="0">管理者</option>
    <option value="1">リーダー</option>
    <option value="2">メンバー</option>
</select><br>
<input type="submit" value="Submit">
}
}