@import helper._
@import scala.concurrent.ExecutionContext

@(csrf: String, errorMessage: String)

@main("User Create | Daily user") {
<h1>User Create</h1>

@form(action = routes.UserController.register()) {
<input type="hidden" name="csrfToken" value="@csrf"/>
<p>@errorMessage</p>
<input type="text" name="loginId"><br>
<input name="password" type="password"><br>
<input name="passwordConfirm" type="password"><br>
<input name="name" type="text"><br>
<select name="role">
    <option value="0">管理者</option>
    <option value="1">リーダー</option>
    <option value="2">メンバー</option>
</select><br>
<input type="submit" value="Submit">
}
}
